html, body{
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    font-size: 60px;
}

#myicon{
    background: linear-gradient( in hsl shorter hue, white 20%, #91c9ff 80%, dodgerblue 100%);
    border-radius: 15px;
    margin: 10px;
}

#containerImg{
    max-width: 200px;
    max-height: 200px;
    border: 3px black dashed;
    display: flex;
    justify-content: center;
}


#myPreviewImg{
    max-width: 190px;
    max-height: 190px;
}

tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.2);
}

#tabela td:nth-child(odd){
    border-right: 1px solid black;
}

#tabela td{
    padding: 0px 25px 0px 25px;
    background: none;
}