<main>
    <section class="container">
        <a href="/cliente" class="btn btn-primary mx-0 my-3">Voltar</a>
        <section class="container shadow p-4 rounded">
            <form action="/api/cliente" method="POST">
                <h2>Criar Cliente</h2>
                <label class="label-control m-3">Nome
                    <input type="text" name="nome" class="form-control">
                </label>
                
                <label class="label-control m-3">Nome fantasia
                    <input type="text" name="email" class="form-control">
                </label>


                <label class="label-control m-3">Documento
                    <input type="text" name="documento" class="form-control">
                </label>

                <label class="label-control m-3">Telefone
                    <input type="text" name="telefone" class="form-control">
                </label>

                <label class="label-control m-3">Endereço
                    <input type="text" name="endereco" class="form-control">
                </label>
                
                <label class="label-control m-3">Tipo De Cliente
                    <input type="text" name="tipoDeCliente" class="form-control">
                </label>

                <button type="submit" class="btn btn-primary my-4">Criar</button>
            </form>
        </section>
    </section>
</main>