<main class="h-75 p-5 d-flex align-items-center">
    <section class="container bg-primary h-100 row d-flex align-items-center rounded">
        <div class="col"></div>
        <div class="col card h-75 text-bg-dark m-auto">
            <div class="card-header">
                <h2>Home Teste</h2>
            </div>
            <div class="card-body">
                <p>Bem vindo ao nosso site<br>para ter acesso precissa de email e senhas cadastradas do sistema</p>
                <a class="btn btn-primary" href="/cliente">Cliente</a>
            </div>
        </div>
    </section>
</main>