<main class="h-75 p-5 d-flex align-items-center">
    <section id="home-bg" class="container shadow h-100 row d-flex align-items-center rounded">
        <div class="col">
        </div>
        <div class="col card text-bg-dark m-auto">
            <div class="card-header">
                <h2>Home Teste</h2>
            </div>
            <div class="card-body p-4">
                <p>Bem vindo ao nosso site<br>para ter acesso precissa de email e senhas cadastradas do sistema</p>
                <a href="/login" class="btn btn-success">Login</a>
                <a href="/cliente">clientes</a>
                <a href="/produto">produtos</a>
                <a href="/funcionario">funcionarios</a>
            </div>
        </div>
    </section>
</main>