<main>
    <h2>exemplo com handlebars</h2>
   <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis ex odit necessitatibus ab optio hic incidunt cumque illum ipsum tenetur! Perferendis odio iure reiciendis expedita temporibus culpa natus dolor blanditiis.</p>
   <a href="http://localhost:5000/cliente">Cliente</a>
</main>