<main>
    <a href="/" class="btn btn-primary my-3">Voltar</a>
    <section class="card h-100 w-25 m-auto">
        <div class="card-header">
            <h2>Login</h2>
        </div>
        
        <form action="/api/cliente/login" method="POST" class="card-body">
            <div class="mb-3">
                <label class="label-control mb-3">email
                    <input type="text" name="email" class="form-control">
                </label>
            </div>

            <div class="mb-3">
                <label class="label-control">Senha
                    <input type="password" name="senha" class="form-control">
                </label>
            </div>

            <button type="submit" class="btn btn-success mb-3">Entrar</button><br>
            <a href="/cadastro" class="btn btn-primary mb-3">Cadastro-se</a>
        </form>
    </section>
</main>