<main>
    <section>
        <div>
            <h2>bem vindo {{cliente.nome}}</h2>
        </div>
        <div>
            <a href="/cliente">Clientes</a>
            <a href="/produto">Estoque</a>
            <a href="/funcionarios">Funcionarios</a>
        </div>
    </section>
</main>