<main>
    <section class="container">
        <a href="/produto" class="btn btn-primary mx-0 my-3">Voltar</a>
        <section class="container shadow p-4 rounded">
            <h2>Criar Produto</h2>
            <form action="/api/produto" method="post" enctype="multipart/form-data">
                <label class="label-control m-3">Nome
                    <input type="text" name="nome" class="form-control">
                </label>
                
                <label class="label-control m-3">Cod. Produto
                    <input type="number" name="codProduto" class="form-control">
                </label>

                <label class="label-control m-3">Descrição
                    <input type="text" name="descricao" class="form-control">
                </label>

                <label class="label-control m-3">Preço Unitario
                    <input type="number" name="precoUnitario" step="0.01" class="form-control">
                </label>

                <label class="label-control m-3">id do Cliente
                    <input type="number" name="clienteId" class="form-control">
                </label>

                <label class="label-control">Foto
                    <input type="file" name="foto" id="fileInput" class="form-control-file">
                </label>
                
                <div id="containerImg">
                    <img src="" id="myPreviewImg" alt="preview">
                </div>

                <button type="submit" class="btn btn-primary my-4">Criar</button>
            </form>
        </section>
    </section>
</main>
<script src="/static/javascript/script.js"></script>